{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Чати{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/group_chat.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_contacts.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/group_modal.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_main.css' %}?v=6">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_message.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'chat_app/css/chat_menu.css' %}">
{% endblock %}

{% block content %}
    <main class="chat-page"> 
        {% include "chat_app/particles/chat_contacts.html" %}
        {% include "chat_app/particles/chat_main.html" %}
        {% include "chat_app/particles/chat_sidebar.html" %}
    </main>
    {% include "chat_app/particles/create_group.html" %}
{% endblock %}

{% block script %}
    <!-- Передаем ID авторизованного юзера в область видимости JS -->
    <script>
        window.currentUserId = "{{ request.user.id }}";
    </script>
    <script src="{% static 'chat_app/js/chat.js' %}"></script>
    <script src="{% static 'chat_app/js/group_chat_v2.js' %}"></script>
    <script src="{% static 'chat_app/js/chat_menu.js' %}"></script>
{% endblock %}
