<div id="tag-modal" class="modal tag-overlay-top">
    <div class="modal-content tag-modal-content">
        <button type="button" id="close-tag-modal" class="tag-close-x">&times;</button>
        <h2 class="tag-title-main">Додати хештег</h2>
        
        <div class="form-group">
            <label for="new-tag-input">Назва</label>
            <div class="tag-field-wrapper">
                <span class="tag-prefix-hash">#</span>
                <input type="text" id="new-tag-input" autocomplete="off">
            </div>
        </div>
        
        <div class="modal-footer">
            <div class="footer-actions-group">
                <button type="button" id="cancel-tag" class="tag-btn-cancel">Скасувати</button>
                <button type="button" id="save-tag-btn" class="tag-btn-save">Зберегти</button>
            </div>
        </div>
    </div>
</div>
