{% extends 'base.html' %}

{% load static %}

{% block title %}
    Friends
{% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'friends_app/css/friends.css' %}">
{% endblock  %}
{% block info-profile %}
    <div class="side-panel">
        <div class="profile-container">
            <div class="profile-head">
                <a href= "{% url 'friend_main' %}">
                    <span>Головна</span>
                </a>
                <a href= "{% url 'friend_requests' %}">
                    <span>Запити</span>
                </a>
                  <a href= "{% url 'recommendations' %}">
                    <span>Рекомендації</span>
                </a>
                <a href= "{% url 'all_friends' %}">
                    <span>Всі друзі</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <h1 class="page-title">Friends</h1>
{% endblock  %}