{% extends 'base.html' %}
{% load static %}

{% block title %}User Profile{% endblock title %}

{% block links %}
    <link rel="stylesheet" href="{% static 'user_app/css/user.css' %}">
{% endblock links %}

{% block side-panel %}

    <div class="side-panel">
        <div class="profile-container">
            <div class="profile-head">
                <a href= "{% url 'friend_main' %}">
                    <span>Головна</span>
                </a>
                <a href= "{% url 'friend_requests' %}">
                    <span>Запити</span>
                </a>
                  <a href= "{% url 'recommendations' %}">
                    <span>Рекомендації</span>
                </a>
                <a href= "{% url 'all_friends' %}">
                    <span>Всі друзі</span>
                </a>
                        
            </div>
        </div>
    </div>
{% endblock  %}

{% block content %}
    <h1 class="page-title">fRIENDS</h1>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'user_app/js/user.js' %}"></script>
{% endblock scripts %}

