{% load static %}

<section class="friends-section" id="sec-friends">
    <div class="row-bar">
        <h2>Всі друзі</h2>
        <p class="see-all-btn" data-target="friends">Дивитись всі</p>
    </div>
    <div class="cards-container">
        {% for friend in friends %}
            <a href="{% url 'user_profile' username=friend.username|default:friend.id %}" style="text-decoration: none; width: 100%; color: inherit;">
                <div class="friend-card user-card" data-user-id="{{ friend.id }}" data-username="{{ friend.username|default:friend.id }}">
                    <img src="{% if friend.avatar %}{{ friend.avatar.url }}{% else %}{% static 'icons/User1.png' %}{% endif %}" alt="User">
                    <div class="friend-info">
                        <h1>
                            {% if friend.first_name or friend.last_name %}
                                {{ friend.first_name }} {{ friend.last_name }}
                            {% else %}
                                Користувач #{{ friend.id }}
                            {% endif %}
                        </h1>
                        <h3>@{{ friend.username|default:friend.id }}</h3>
                    </div>
                  
                    <div class="buttons-container">
                        <button class="msg-btn" type="button">Повідомлення</button>
                        <button class="remove-friend-btn friend-btn" type="button">Видалити</button>
                    </div>
                </div>
            </a>
        {% empty %}
        {% endfor %}
    </div>
</section>
