<div id="confirm-email-container" class="section-confirm" style="display: none;"> 
    <h2>Підтвердження пошти</h2>
    <p>Ми надіслали 6-значний код на вашу пошту (you@example.com). Введіть його нижче, щоб підтвердити акаунт</p>
    
    <form action="{% url 'confirm_email' %}" method="post">
        {% csrf_token %}
        <div class="code-inputs-wrapper">
            {% for field in confirm_email_form %}
                {{ field }}
            {% endfor %}
        </div>
        <button type="submit" class="submit-btn">Підтвердити</button>
    </form>
    <p id="back">Назад</p>
</div>
