{% load static %}

<section class="requests-section" id="sec-requests">
    <div class="row-bar">
        <h2>Запити</h2>
        <p class="see-all-btn" data-target="requests">Дивитись всі</p>
    </div>
    <div class="cards-container">
        {% for req in friend_requests %}
            <a href="{% url 'user_profile' username=req.username|default:req.id %}" style="text-decoration: none; width: 100%; color: inherit;">
                <div class="friend-card user-card" data-user-id="{{ req.id }}" data-username="{{ req.username|default:req.id }}">
                    <img src="{% if req.avatar %}{{ req.avatar.url }}{% else %}{% static 'icons/User1.png' %}{% endif %}" alt="User">
                    <div class="friend-info">
                        <h1>
                            {% if req.first_name or req.last_name %}
                                {{ req.first_name }} {{ req.last_name }}
                            {% else %}
                                Користувач #{{ req.id }}
                            {% endif %}
                        </h1>
                        <h3>@{{ req.username|default:req.id }}</h3>
                    </div>

                    <div class="buttons-container">
                        <button class="accept-btn friend-btn" type="button">Підтвердити</button>
                        <button class="reject-btn friend-btn" type="button">Видалити</button>
                    </div>
                </div>
            </a>
        {% empty %}
        {% endfor %}
    </div>
</section>
